* {
    margin: 0;
    padding: 0;
}

.image {
    height: 750px;
    width: 100%;
    z-index: 1;
    }

#nav {
    position: fixed;
    width: 100%;
    background: rgba(255,255,255,1);
    -webkit-box-shadow: 0px 0px 20px rgba(44,44,44,.3);
    top:0;
    left:0;
    height: 70px;
    z-index: 100;
}

#nav #logo {
    height: 40px;
    width: 170px;
    position: absolute;
    top: 0;
    bottom:0;
    margin: auto 100px;
}

#nav #logo img {
    height: 100%;
    width: 100%;
    
}
.content {
    height: 750px;
    width:100%;
    background: white;
    z-index: 2;
}

.content h1 {
    font-size: 40px;
    color: #464646;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 30px 60px;
}
h1::first-letter {
    font-size: 60px;
    font-weight: 600;
    color:#3cb0f8;
}
.content p {
    font-size:20px;
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 30px 60px;
}


#wall_1 {
    background: url(../Images/nature_mon1.jpg) ;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#wall_2 {
    background: url(../Images/nature_mon2.jpg);
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#wall_3 {
    background: url(../Images/nature_mon3.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}